<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- LINKS! -->
  <link rel="stylesheet" href="css/main.css">

  <link rel="stylesheet" href="https://use.typekit.net/von5wqs.css">
  

    <title>Wineaholics</title>

</head>
<body>


 <main class="siteContainer">
     <header id="mainHeader">
    <h1 class="hidden">header</h1>
       
      <!--Beginning of Logo-->
    <h2 class="hidden">logo</h2>
    <div id="logo">
  <a href="index.html"><img src="images/logo.svg" alt="logo"></a>
        </div>
  
        <h2 class="hidden">main nav</h2>
    <nav id="mainNav"><!--beginning of mainNav-->
 <button id="button"></button>
  
  <h2 class="hidden">header nav</h2>
  
     <!-- this is my dropdown nav element -->
  <h3 class="hidden">dropdown nav</h3>
 <nav id="burgerCon">
     <h1 class="close">X</h1>
  
    <ul id="burgerMenu"></ul>
     <li><a href="about.html">Shop</a></li>
    <li><a href="portfolio.html">Cocktails</a></li>
     <li><a href="contact.html">Contact Us</a></li>
     </ul>
  
  <div class="iconNav">
    <a href="twitter.com"><img src="images/twitter.svg" alt="twitter icon"></a>
     <a href="facebook.com"><img src="images/facebook.svg" alt="facebook icon"></a>
      <a href="instagram.com"><img src="images/instagram.svg" alt="instagram icon"></a>
      </div>
  
  
         </nav>
       <!-- end dropdown nav -->
        </nav>
        </header>

   <!-- product--> 
   <h1 class="hidden">product</h1>
    <div id="product">
            <img src="images/product.png" alt="wine bottle">
    </div>

    <h2 class="hidden">product Information</h2>
    <div id="productInfo">

        <h1>CEILIDH</h1>
        <p>This red blend is pale ruby in colour and offers subtle cherry aromas and flavours. Light-bodied and fruity, it is consistently well-made. Soft texture along with a balanced finish makes this wine appealing, versatile and food-friendly. Serve with beef tenderloin or enjoy lightly chilled with baked salmon. </p>

        <h1>$45.00</h1>
        <button>BUY NOW</button>
    </div>

    <!--sub section leading to footer-->
    <h1 class="hidden">sub-section</h1>
    <div class="sub-section">

    <p>What do you drink?</p>

    <a href="">SHOP</a>
    <a href="">COCKTAILS</a>
    <a id="bot" href="">CONTACT</a>
    </div>
  
    <!--footer-->
    <h1 class="hidden">footer</h1>
    <footer>

    <h2 class="hidden">social media</h2>
    <div class="social-media">
     <a href="twitter.com"><img src="images/twitter.svg" alt="twitter icon"></a>
       <a href="facebook.com"><img src="images/facebook.svg" alt="facebook icon"></a>
     <a href="instagram.com"><img src="images/instagram.svg" alt="instagram icon"></a>
        </div>    
        
        <h2 class="hidden">copyright</h2>
        <div id="copyright">
       <p>&copy; Copyright 2019 Wineholics</p>
         </div>
        

    </footer>


    </main>

    <!--javascript file-->
    <script src="js/main.js"></script>
</body>
</html>